


// @font-face {
//   font-family: 'Open Sans';
//   src: //url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//    url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
// }  

*,
*::after,
*::before {
  box-sizing: border-box; 
//test
  padding: 0;
  margin: 0;
 
}

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

$main_color: #19bde8;
$orange_color: #f78c1f;






html {
   font-size: 100%; 

   @media screen and (max-width: 1024px) {
	  font-size: 95%;
   }

    @media screen and (max-width: 768px) {
	  font-size: 100%;
   	}

   	@media screen and (max-width: 426px) {
	  font-size: 80%;
   }

   @media screen and (max-width: 321px) {
 		font-size: 75%;
  	}

}

body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'BebasNeueBold'; 
  line-height: 1.05;
  //background: #dedede;
  background: #fff;

  //padding-top: 60px;

}

a {
	text-decoration: none;
	color: #000; 
}




@mixin border-radius($raduis){
	-webkit-border-radius: $raduis;
	   -moz-border-radius: $raduis;
	    -ms-border-radius: $raduis;
	     -o-border-radius: $raduis;
	        border-radius: $raduis;
}


@mixin translateX($translate) {
	-webkit-transform: translateX($translate);
       -moz-transform: translateX($translate);
        -ms-transform: translateX($translate);
         -o-transform: translateX($translate);	
            transform: translateX($translate);
}

@mixin scale($translate) {
	-webkit-transform: scale($translate);
       -moz-transform: scale($translate);
        -ms-transform: scale($translate);
         -o-transform: scale($translate);	
            transform: scale($translate);
}

@mixin transition($_transition) {
	-webkit-transition: $_transition;
	   -moz-transition: $_transition;
	    -ms-transition: $_transition;
	     -o-transition: $_transition;
	        transition: $_transition;
}

@mixin box-shadow($_shadow) {
	-webkit-box-shadow: $_shadow;
	   -moz-box-shadow: $_shadow;
		-ms-box-shadow: $_shadow;
		 -o-box-shadow: $_shadow;
		    box-shadow: $_shadow;
}

@mixin linear-gradient($direction, $_gradient_1, $_gradient_2) {
	background: -webkit-linear-gradient($direction, $_gradient_1, $_gradient_2); 
	background: -moz-linear-gradient($direction, $_gradient_1, $_gradient_2); 
	background: -ms-linear-gradient($direction, $_gradient_1, $_gradient_2); 
	background: -o-linear-gradient($direction, $_gradient_1, $_gradient_2); 
	background: linear-gradient($direction, $_gradient_1, $_gradient_2); 
}


.page-wrapper {
	margin: 0 auto;
    //max-width: 1920px;
    max-width: 2560px;
   //min-height: 700px;
   background: #fff; 
   overflow: hidden;


}


.container {
    margin: 0 auto;
    max-width: 1140px;

	@media screen and (max-width: 1024px) {
	 	max-width: 900px;
  	}

  	@media screen and (max-width: 768px) {
	 	width: 100%;
	 	width: 95%;
  	}
	

	&__leftContent {
		float: left;
		width: 57.89%;

		@media screen and (max-width: 768px) {
		 	width: 100%;
	  	}

	  	&--second {
	  		width: 70%;

	  		@media screen and (max-width: 768px) {
			 	width: 100%;
		  	}
	  	}
		
	}

	&__formContent {
		float: right; 
		width: 41.4%;
		height: 490px;

		@media screen and (max-width: 768px) {
		 	display: none;

	  	}

	  	&--second {
	  		width: 27%;
	  		height: 375px;
	  		//background-color: #757575;
	  		background-color: rgba(0,0,0,.3);
	  		padding: 10px;
	  		margin-top: 37px;

	  		@media screen and (max-width: 768px) {
				//height: 100%;	
				display: block;
				width: 100%;
				height: auto;
			}
	  	}

	}

}

.header {
	
	&__top {
		padding-top: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgba(#757574, .08);

		@media screen and (max-width: 426px) {
			padding-bottom: 0;
	  	}

	}

	&__logo-link {
		display: block;
		float: left;

		@media screen and (max-width: 376px) {
			width: 25%;
	  	}

		&--footer {
			float: none;
			margin: 0 auto;
			padding-bottom: 23px;

			@media screen and (max-width: 376px) {
				margin-left: 34px;
		  	}
		}


	}

	&__logo-picture {
		
	}

	&__top-list {
		float: left; 
		margin-left: 6rem;

		@media screen and (max-width: 1024px) {
			margin-left: 2.5rem;
		}

		@media screen and (max-width: 376px) {
			width: 66%;
	  	}

	  	@media screen and (max-width: 361px) {
			width: 59%;
			margin-left: 3.4rem;
	  	}

	  	@media screen and (max-width: 321px) {
			width: 61%;
			padding-left: 2px;
	  	}



	}

	&__top-item {
		color: #333333;
		font-size: 1.125rem;
		font-weight: 400;
		margin-bottom: 0.95rem;

		@media screen and (max-width: 321px) {
			font-size: .92rem;
	  	}

		&--light {
			font-size: 1rem;
			color: #757574;
		}

	}

	&__top-link {
		
		&--light {
			font-size: 1rem;
			color: #757574;
		}
	}

	&__top-icon {
		color: $orange_color;
		padding-right: 10px;
	}

	&__top-btn {
		float: right;
	}

	&__btn {
		display: block;
		color: $orange_color;
		font-size: 1.125rem;
		text-transform: uppercase;
		border: 1px solid $orange_color;
		padding: 17px 30px;

		@media screen and (max-width: 768px) {
			margin-right: 24px;	
		}

		@media screen and (max-width: 426px) {
			display: none;
	  	}
	}

	&__nav-menu {
		background-color: #fff;
		border-bottom: 1px solid rgba(117, 117, 116, 0.08);
	}
}


.menu-icon {
	
	width: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;

	@media screen and (max-width: 426px) {
		display: block;
  	}


	&__item {
		
		width: 25px;
		height: 4px;
		margin-bottom: 3px;
		background-color: #f78c1f;

		//border: 1.5px solid #f78c1f;
	}
}

.nav-menu {

	@media screen and (max-width: 426px) {
		//position: relative;
  	}

	&__list {

		height: 60px;

		@media screen and (max-width: 426px) {
			height: auto;
			width: 95% ;
			padding-left: 5px;
			background: #fff;
			position: absolute;
			display: none;
	  	}
	}

	&__item {
		float: left;
		margin-right: 10.5rem;
		position: relative;

		@media screen and (max-width: 1024px) {
			margin-right: 7.5rem;
		}

		@media screen and (max-width: 768px) {
			margin-right: 4rem;	
		}

		@media screen and (max-width: 426px) {
			float: none;
			margin-right: 0;
	  	}

		&:last-child {
			margin-right: 0;
			float: right;

			@media screen and (max-width: 426px) {
				float: none;
	  		}
		}

		&:hover .nav-menu__sub-list {
			display: block;
		}
	}

	&__link {
		color: #403e3e;
		font-size: 1.125rem;
		text-transform: uppercase;
		display: block;
		line-height: 60px;
		font-weight: 400;

		@media screen and (max-width: 426px) {
			line-height: 31px;
  		}
	}

	&__icon {
		// display: inline-block;
		 padding-left: 10px;
		// padding-bottom: 50px;
		//line-height: 60px;
		position: relative;
		//left: 10px;
		bottom: 5px; 
	}

	&__sub-list {
		display: none;
		background: #fff;
		position: absolute;
		left: 0;
		width: 150px;
		@include box-shadow(0 0 3px 5px rgba(0,0,0,.4));

		@media screen and (max-width: 426px) {
			position: static;
			width: 100%;
			@include box-shadow(none);
	  	}


	}

	&__sub-item {
		line-height: 1.5;
		padding-left: 15px;

	}

	&__sub-link {
		font-size: 1rem;
		font-weight: 400;
	}
}

.showcase {
	max-width: 1920px;
	height: 490px;
	margin: 0 auto;
	background: url(../images/banner.jpg) no-repeat ;

	@media screen and (max-width: 768px) {
	 	background-size: cover;
	 	height: 100%;
  	}

  	&--second {
  		background: url(../images/banner2.jpg) no-repeat ;
  		background-position: -230px 0;
  		height: 450px;

  		@media screen and (max-width: 768px) {
			height: 614px;
			background-size: cover;
		}

		@media screen and (max-width: 426px) {
			height: 820px;	
	  	}
  	}
	
}


.leftContent {

	&__title {
	    //font-size: 5.83rem;
	    font-size: 4.1rem;

	    @media screen and (max-width: 1024px) {
		 	//font-size: 4.7rem;
		 	font-size: 3.3rem;
	  	}

	  	@media screen and (max-width: 768px) {
		  //font-size: 5.83rem;
		  font-size: 4rem;
		  padding-left: 13px;
	   	}

	   	@media screen and (max-width: 426px) {
			font-size: 4rem;
			
		}

	   	@media screen and (max-width: 376px) {
			 margin-top: 3rem;
			 text-align: center;
		}

		font-family: 'BebasNeueBold'; 
		margin-top: 3rem;

		@media screen and (max-width: 768px) {
		    margin-top: 4rem;
	   	}
		margin-bottom: 1rem;
		color: #f78c1f;
		text-transform: uppercase; 
	}

	&__subtitle {
		font-size: 1.35rem;
	
		line-height: 1.4;
		font-family: 'Open Sans', sans-serif;

		font-weight: 600;
		color: #fff;

		&--second {
			margin-top: 5rem;
		}

		@media screen and (max-width: 768px) {
		   padding-left: 13px;
		   font-size: 1.5rem;
		   margin-top: 3rem;
		   margin-bottom: 1rem;
	   	}

   		@media screen and (max-width: 426px) {
			font-size: 1.9rem;
		}

		@media screen and (max-width: 376px) {
		 	padding-left: 0;
		 	text-align: center;
		 	font-size: 1.2rem;
		}
		
	}

	&__list {
		padding: 0;
		margin: 0;
		padding-top: 1.3rem;
		width: 430px;
		@media screen and (max-width: 768px) {
		 	width: 458px;
	  	}

	  	@media screen and (max-width: 426px) {
		 	width: 100%;
	  	}

		list-style: none;

		&--second {
			//width: 70%;
			width: 685px;

			@media screen and (max-width: 1024px) {
				width: 640px;
			}

			@media screen and (max-width: 768px) {
			 	width: 100%;
		  	}
		}
		
	}

	&__items {
		height: 50px;
		margin-bottom: 9px;
		position: relative;
		padding-left: 58px;

		@media screen and (max-width: 768px) {
		 	padding-left: 76px;
	  	}

	  	@media screen and (max-width: 426px) {
		 	width: 100%;
	  	}

	  	@media screen and (max-width: 376px) {
		 	padding-left: 58px;
	  	}

  		@media screen and (max-width: 321px) {
	 		padding-left: 45px;
	  	}

		background: rgba(0,0,0,.5);
		

	}

	&__link {
		display: block;
		text-decoration: none;
		// font-size: 1.33rem;
		font-size: 1.1rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		color:#fff;
		line-height: 50px;
		white-space: nowrap;

		@media screen and (max-width: 321px) {
			font-size: 1rem;
	  	}

		&--second {
			font-size: 1rem;

			@media screen and (max-width: 426px) {
				line-height: 17px;
				white-space: normal;
				padding-top: 8px;
		  	}

		}
	}

	&__text {
		color: #fff;
		font-size: .9rem;
		margin-top: 35px;

		@media screen and (max-width: 426px) {
			font-size: 1.4rem;
			line-height: 25px;
	  	}

		// &--second {
		// 	font-size: 1.4rem;
		// }
	}

	&__icon {
		width: 32px;
		height: 32px;
		position: absolute;
		top: 9px;
		left: 13px;

		@media screen and (max-width: 768px) {
		 	left: 28px;
	  	}

	  	@media screen and (max-width: 376px) {
		 	left: 10px;
	  	}

	  	@media screen and (max-width: 321px) {
	 		left:5px;
	  	}


	}

}

.formContent {
	width: 100%;
	background: #fff;
	padding: 30px;
	margin-top: 32px;

	&--second {
		background-color: transparent;
		border: 1px solid #333333;
		padding: 0;
		margin-top: 0;
		height: 100%;

		@media screen and (max-width: 768px) {
		 	padding-top: 40px;
		 	padding-bottom: 40px;
	  	}

	  	@media screen and (max-width: 426px) {
			padding-top: 0;
			padding-bottom: 32px;		
		}


	}

	&__header {
		color: #333333;
		text-align: center;
		font-size: 1.83rem;
		text-transform: uppercase;
		margin-bottom: 1rem;
		font-family: 'Open Sans', sans-serif;

		&--second {
			color: #fff;
			font-size: 1.125rem;
			font-weight: 600;
			margin-top: 25px;

			@media screen and (max-width: 768px) {
			 	display: inline;
			 	text-transform: lowercase;
			 	font-size: 1.25rem;
			 	margin-left: 23%;
			 	font-weight: 600;
		  	}

		  	@media screen and (max-width: 426px) {
				display: block;
				margin-left: 0;
		  	}

		}
	}

	&__paragraphe {
		color: #333333;
		text-align: center;
		font-size: 1.33rem;
		text-transform: uppercase;
		margin-bottom: 28px;

		&--second {
			color: #fff;
			font-size: 1.125rem;
			font-weight: 600;
			text-transform: lowercase;
			margin-bottom: 20px;

			@media screen and (max-width: 768px) {
			 	display: inline;
			 	font-size: 1.25rem;
			 	font-weight: 600;
		  	}

		  	@media screen and (max-width: 426px) {
				display: block;
		  	}
		}
	}

	&__line {
	
		margin-bottom: 20px;
		&:nth-of-type(3) {
			margin-bottom: 0px;
		}

		&--second {
			margin-bottom: 0;
			text-align: center;

			@media screen and (max-width: 768px) {
			 	display: inline-block;
			 	margin-left: 26px;
		  	}
		}

	}

	&__wrap-select {
		position: relative;
		float: left;
		width: 47%;
		height: 42px;
		border-bottom:1px solid #f78c1f;
		
		&::after {
	        content: "\f0d7";
	    	color: #f38e27;
	    	font-family: "Font Awesome 5 Free";
	    	font-weight: 900;
	    	display: inline-block;
	    	position: absolute;
	    	top:19px;
	    	right:0px;
	    	 pointer-events: none;
	    	 z-index: 1;
		}
		
    }

    

	&__wrap-checkbox {
		float: right;
		width: 47%;
		display: block;
		line-height: 1.4;
		position: relative;
	}

	&__slider {
		width: 47%;
		height: 36px;
		float: left;
		position: relative;
	}

	&__outText {
		color:#757575;
		font-size: 1.2rem;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 9px;
		position: relative;
		bottom: 6px;

	}

	&__output {
		font-size: 1.2rem;
		position: absolute;
		padding: 0;
		right: 0;
		top:0;
		border-bottom: 1px solid #ffd29f;
	}

	&__picture {
		width: 47%;
		float: right;
		height: 33px;
		line-height: 34px;
		outline: 1px solid #ffd29f;
		background: #faf7f3;
		position: relative;
		padding-left: 8px;
	}

	&__text-picture {
		color: #757575;
		font-size: 0.8rem;
		@media screen and (max-width: 1024px) {
		 	font-size: 0.73rem;
	  	}
		width: 100%;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		
	}

	&__icon-picture {
		height: 33px;
		width: 33px;
		background: #ffd29f;
		color: #fff;
		display: inline-block;
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
	}

	&__file {
		opacity: 0;
	    position: relative;
	    bottom: 33px;
	    padding: 5px;
	    right: 5px;
	    width: 39px;
	}

	&__input {
		color:#757575;
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		border: none;
		border-bottom: 1px solid #ffd29f;
		width: 47%;
		float: left;

		&--second {
			float: none;
			//display: block;
			//width: 100%;
			color: #a1a2a3;
			border: 1px solid #a1a2a3;
			background: transparent;
			margin-bottom: 18px;
			padding: 17px;
			width: 213px;
			//margin: 0 auto;

			@media screen and (max-width: 768px) {
			 	width: 198px;
			 	height: 46px;
			 	margin-right: 20px;
		  	}
		}

		&--right {
			float: right;
		}

		&--select {
			margin-top: 13px;
			padding-bottom: 3px;
			width: 100%;
			border: 0;
			outline: 0;
			cursor: pointer;
			background: transparent;
			-webkit-appearance: none;
			  -moz-appearance: none;
			   -ms-appearance: none;
			    -o-appearance: none;
			 	   appearance: none;

 	   		&::-ms-expand {
 	   			display: none;
 	   		}
		}

		&:focus {
			outline: none;
		}
	}

	&__checkinput {
		display: none;
	}

	&__checkbox {
		color:#757575;
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		
		&:before {
			content: "";
			display: inline-block;
			height: 10px;
			width: 10px;
			margin-right: 10px;
			
		}

		&--box1 {

			&:after {
				content: "";
				display: inline-block;
				height: 15px;
				width: 15px;
				padding: 3px;
				margin-right: 10px;
				border: 1px solid #ffd29f;
				@include border-radius(50%);
				position: absolute;
				left:-3px;
				top: 4px;
				@media screen and (max-width: 1024px) {
				 	top: 3px;
			  	}

			}

		}

		&--box2 {

			&:after {
				content: "";
				display: inline-block;
				height: 15px;
				width: 15px;
				padding: 3px;
				margin-right: 10px;
				border: 1px solid #ffd29f;
				@include border-radius(50%);
				position: absolute;
				left: -3px;
				top: 26px;

				@media screen and (max-width: 1024px) {
				 	top: 24px;
			  	}

			}

		}
		
	}

	&__wrap-btn {
		text-align: center;
		
		&--second {
			@media screen and (max-width: 768px) {
			 	display: inline-block;
			 	text-align: left;
		  	}
		}

		&--price {
			display: none;

			@media screen and (max-width: 768px) {
			 	display: block;
			 	text-align: left;
			 	margin-left: 13px;
			 	margin-bottom: 30px;
		  	}

	  		@media screen and (max-width: 426px) {
				text-align: center;
			 	margin-left: 0px;
			}

		}

	}

	&__btn {
		background: #f78c1f;
		text-transform: uppercase;
		color: #fff;
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.75rem;
		border: none;
		width: 244px;
		height: 48px;
		margin-bottom: 10px;
		margin-top: 36px;

		&--second {
			margin-top: 0;
			width: 213px;

			@media screen and (max-width: 768px) {
				margin-top: 8px;
			 	position: relative;
    			top: 3px;
		  	}

		  	@media screen and (max-width: 426px) {
				top: 0;
				margin-top: 0;
				left: 95px;
				width: 198px;
		  	}

		  	@media screen and (max-width: 376px) {
				left: 71px; 
		  	}

		  	@media screen and (max-width: 361px) {
				left: 64px;
		  	}

		  	@media screen and (max-width: 321px) {
				left: 45px;
		  	}

			
		}

		&:focus {
			outline: none;
		}

		&--price {
			//width: 316px;
			width: 396px;
			height: 54px;
			margin-top: 20px;

			@media screen and (max-width: 376px) {
			 	width: 280px;
				height: 44px;
				margin-top: 10px;
				font-size: 1.4rem;
		  	}

		}

	}

	&__footer {
		text-align: center;
		font-size: .775rem;
		line-height: 1.2;
		color: #c3c2c2;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;

		&--second {
			color: #939393;
			
			@media screen and (max-width: 768px) {
				display: inline;
		  	}

		  	@media screen and (max-width: 426px) {
				display: block;
		  	}

		}

		&--first {

			@media screen and (max-width: 768px) {
				margin-left: 7rem;
		  	}

		  	@media screen and (max-width: 426px) {
				margin-left: 0;
		  	}
		}
		
	}

	&__span {
		border-bottom: 1px solid #c3c2c2;

		&--second {
			border-color: #939393;
		}
	}
}

//selectList
.selectList {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;

	&__item {
		color:#757575;
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		padding-top: 18px;
		cursor: pointer;
		text-transform: capitalize;
	}

	&__subList {
		padding: 0 0px 15px 15px;
		margin: 0;
		list-style: none;
		color:#757575;
		width: 100%;
		font-size: 1.3rem;
		// font-size: 1rem;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		left: 0;
		top: 42px;
		background: #fff;
		display: none;
		@include box-shadow(1px 1px 5px #757575);
	}

	&__subItem {
		color:#757575;
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		padding-top: 8px;
		cursor: pointer;
		text-transform: capitalize;
		@include transition(all .5s ease);

		&:hover {
			padding-left: 5px; 
		}
	}
}




.description {

	&__text {
		color: #333333;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		margin-top: 2.5rem;
		
	}

	&__sub-text {
		color: #333333;
		font-size: 1rem;
		font-weight: 600;
		border-left: 3px solid $orange_color;
		padding-left: 24px;
		line-height: 1.6;
		margin-top: 2rem;
		//margin-bottom: 6.25rem;

	}
}



.products {
	margin-bottom: 30px;
	//padding-top: 6.25rem;
	padding-top: 8.25rem;

	&__title {
		color: $orange_color;
		font-size: 3rem;
		font-family: 'BebasNeueBold'; 
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 2.6rem;
	}

	&__materials {
		//border: 2px solid yellow;
		margin-bottom: 3.125rem;
	}

	&__materials-item {
		float: left;
		//width: 360px;
		width: 32%;
		height: 240px;
		margin-right: 2%;
		position: relative;

		@media screen and (max-width: 426px) {
			float: none;
			width: 100%;
			height: 100%;
			margin-right: 0;
			margin-bottom: 15px;	
	  	}

		&:last-child {
			float: right;
			margin-right: 0;
		}

		// &:nth-of-type(2) {
		// 	margin: 0 auto;
		// }
	}

	&__materials-link {
		display: block;
	}

	&__picture {
		//border:1px solid red;
		display: block;
		width: 100%;
		//height: 100%;
	}

	&__name {

		position: absolute;
		font-size: 1.18rem;
		color: #fff;
		font-weight: 600;
		text-align: center;
		background: rgba(0,0,0,.6);
		width: 100%;
		height: 50px;
		line-height: 50px;
		bottom: -4px;

		@media screen and (max-width: 768px) {
			bottom: -1px;
	  	}
	}

	&__list {

	}

	&__list-item {
		height: 100px;
		width: 32%;
		float: left;
		padding-left: 100px;
		border: 1px solid #ebebeb;
		position: relative;
		margin-right: 2%;
		margin-bottom: 20px;

		@media screen and (max-width: 426px) {
			float: none;
			width: 100%;
			margin-right: 0;
	  	}

		&:nth-of-type(3n+0) {
			margin-right: 0;
		}


	}

	&__list-title {
		color: #333333;
		font-size: 1.125rem;
		font-weight: 600;
		padding-top: .5rem;
		padding-bottom: .9rem;

		@media screen and (max-width: 768px) {
			font-size: 1rem;
		}

		@media screen and (max-width: 426px) {
			font-size: 1.2rem;
		    
		}
	}

	&__price {
		color: $orange_color;
		font-weight: 600;

	}

	&__text {
		color: #f78c1f;
		font-size: .9rem;

		@media screen and (max-width: 426px) {
			font-size: 1rem;
		}
	}

	&__image {
		height: 100px;
		width: 100px;
		position: absolute;
		top: -2px;
		left: -10px;
	}
}


.reception {

	//margin-top: 15px;

	&__title {
		color: $orange_color;
		font-size: 3rem;
		font-family: 'BebasNeueBold'; 
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		//margin-top: 5.3rem;
		padding-top: 5.3rem;
		margin-bottom: 2.6rem;
	}

	&__text {
		color: #757575;
		font-size: 1rem;
		margin-bottom: 15px;
	}

	&__list {
		margin: 0;
		padding: 0;
		//margin-top: 15px;
		

	}

	&__item {
		color: #757575;
		font-size: 1rem;
		//border: 1px solid red;
		float: left;
		width: 50%;
		height: 40px;
		line-height: 40px;
		padding-left: 60px;
		position: relative;
		margin-bottom: 10px;

		@media screen and (max-width: 1024px) {
			font-size: .82rem;
		}

		@media screen and (max-width: 768px) {
			float: none;
			width: 100%;
			font-size: 1rem;
		}

		@media screen and (max-width: 426px) {
			line-height: 19px;
	  	}
	}

	&__image {
		height: 40px;
		width: 40px;
		position: absolute;
		left: 0;
		top: 0;

	}

	&__table {
		margin-top: 1rem;
	}

	&__table-list {
		float: left;
		width: 23%;
		margin-right: .5%;

		@media screen and (max-width: 768px) {
			width: 24%;
		}

		@media screen and (max-width: 426px) {
			width: 49%;
			margin-right: 0;
	  	}

	  	&:nth-of-type(odd) {

	  		@media screen and (max-width: 426px) {
				margin-right: 2%;
	  		}
	  	}

		&:last-child {
			margin-right: none;
		}

		&--first {
			width: 28%;

			@media screen and (max-width: 768px) {
				width: 25%;
			}

			@media screen and (max-width: 426px) {
				width: 49%;
		  	}
		}
	}

	&__table-item {
		color: #757575;
		text-align: center;
		//border: 1px solid red;
		//background-color: #fff6ec;
		height: 40px;
		line-height: 40px;
		margin-bottom: 4.5px;

		@media screen and (max-width: 768px) {
			font-size: .8rem;
		}

		@media screen and (max-width: 426px) {
			font-size: 1.05rem;
	  	}

	  	@media screen and (max-width: 321px) {
			font-size: .9rem;
	  	}

		&--elt {

			&:nth-of-type(odd) {
				background-color: #fff6ec;
			}

			&:nth-of-type(even) {
				background-color: #fff9f2;
			}
		}

		&--header {
			height: 60px;
			color: #fff;
			background-color: $orange_color;
			line-height: 15px;
			padding-top: 15px;
			margin-bottom: 0;

		}

		&--first {
			color: #333333;
			font-weight: 600;

			@media screen and (max-width: 768px) {
				font-size: .8rem;
			}

			@media screen and (max-width: 426px) {
				font-size: 1.05rem;
	  		}

	  		@media screen and (max-width: 321px) {
				font-size: .96rem;
		  	}

			&:nth-of-type(odd) {
				background-color: #fff6ec;
			}

			&:nth-of-type(even) {
				background-color: #fff9f2;
			}
		}
	}

	&__table-text {
		//line-height: 60px;
		font-size: 0.75rem;
	}

	&__recommend {
		margin-top: 2.2rem;

	}

	&__recommend-item {
		float: left;
		width: 48.5%;
		border: 3px solid #ebebeb;
		padding-top: 28px;
		padding-bottom: 27px;
		position: relative;

		@media screen and (max-width: 768px) {
			width: 100%;
			margin-bottom: 2.6rem;
		}

		&:first-child {
			margin-right: 3%;

			@media screen and (max-width: 768px) {
				margin-right: 0;
			}
		}

		&:last-child {
			width: 100%;
			margin-top: 40px;

			@media screen and (max-width: 768px) {
				margin-top: 0;
			}
		}
	}

	&__recommend-element {
		padding-left: 2.9rem;
		position: relative;
	}

	&__recommend-title {
		font-size: 1rem;
		color: #757575;
		font-weight: 600;
		margin-bottom: .625rem;
		margin-top: 1rem;
	}

	&__recommend-text {
		font-size: 1rem;
		font-weight: 400;
		color: #757575;
		line-height: 27px;
	}

	&__recommend-sign {
		height: 23px;
		width: 27px;
		position: absolute;
		left: 10px;
		top: -2px;

		@media screen and (max-width: 426px) {
			left: 6px;
			top: -5px;
	  	}
	}

	&__recommend-name {
		display: inline-block;
		width: 230px;
		height: 36px;
		line-height: 36px;
		padding-left: 10px;
		font-size: 1.125rem;
		font-weight: 600;
		color: #333333;
		background: #ebebeb;
		position: absolute;
		top: -10px;
		left: -10px;
	}

	&__work {
		
	}

	&__work-list {
		width: 23%;
		float: left;
		margin-right: 2.6%;
		padding: 23px;
		padding-bottom: 0;
		@include  box-shadow(0px 0px 5px #ebebeb);
		position: relative;

		@media screen and (max-width: 768px) {
			width: 48%;
			margin-right: 0;
			margin-bottom: 1.8rem;
		}

		&:last-child {
			margin-right: 0;
		}

		&:nth-of-type(odd) {
			@media screen and (max-width: 768px) {
				margin-right: 4%;
			}
		}
	}

	&__work-item {
		color: #757575;
		font-size: .875rem;
		line-height: 24px;
		font-weight: 400;
		margin-top: 16px;

		&:before {
			content: "";
			display: inline-block;
			height: 5px;
			width: 5px;
			background: #e3e3e3;
			margin-right: 10px;
			margin-bottom: 3px;
		}

		&--title {
			color: #f78c1f;
			font-size: 1.25rem;
			font-weight: 600;
			margin-bottom: 23px;
			line-height: 0;

			&:before {
				display: none;
			}	
		}

		&--img {

			width: 35px;
			height: 35px;
			position: absolute;
			top: 5px;
			right: 20px;
			
			&:before {
				display: none;
			}
		}
	}

	&__city {
		height: 106px;
		margin-top: 40px;
		//margin-bottom: 40px;
		background: url('../images/city 2.svg') no-repeat;
		background-size: cover;
		background-position: 0 -2px;
		position: relative;

		&:after {
			content: "";
			display: inline-block;
			height: 60px;
			width: 40px;
			background: url('../images/car.svg') no-repeat center;
			position: absolute;
			bottom: -13px;
			right: 115px;

			@media screen and (max-width: 768px) {
				bottom: -10px;
				right: 96px;
			}
		}
	}


}



.banner-info {
	height: 392px;
	background: #ddd;
	//padding-bottom: 28px;
}


.footer {
	padding-top: 28px;
	padding-bottom: 40px;

	&__content {
		float: right;
		//float: left;
		margin-right: auto;
		width: 840px;
		//border: 2px solid yellow;

		@media screen and (max-width: 1024px) {
			width: 700px;
		}

		@media screen and (max-width: 768px) {
			width: 65%;
		}

		@media screen and (max-width: 426px) {
			width: 100%;
	  	}
	}

	&__content-list {
		float: left;

		&:first-child {
			margin-right: 97px;

			@media screen and (max-width: 1024px) {
				margin-right: 40px;
				//margin-left: 10px;
			}

			@media screen and (max-width: 768px) {
				width: 100%;
				margin-bottom: 1rem;
			}
		}

		&:nth-of-type(2) {
			width: 475px;

			@media screen and (max-width: 1024px) {
				width: 400px;
			}

			@media screen and (max-width: 768px) {
				width: 100%;
			}

			@media screen and (max-width: 426px) {
				margin-bottom: 2rem;
	  		}
		}

		&:last-child {
			width: 830px;
			margin-top: 32px;

			@media screen and (max-width: 1024px) {
				width: 685px;
			}

			@media screen and (max-width: 768px) {
				display: none;
			}
		}

	}

	&__wrap-content-item {
		float: left;

		&:last-child {
			float: right;
		}
	}

	&__content-item {
		line-height: 26px;

		&--title {
			color: #333333;
			font-size: 1.25rem;
			font-weight: 600;
			border-bottom: 1px solid #f68c1e;
			padding-bottom: 20px;
		}
	}

	&__content-link {
		font-size: 1rem;
		color: #333333;

	}

	&__content-form {
		padding-top: 17px;
	}

	&__content-input {
		width: 32%;
		height: 48px;
		line-height: 48px;
		outline: none;
		color: #bebebe;
		font-size: 1.25rem;
		padding-left: 15px;
		border: 1px solid #bebebe;

		@media screen and (max-width: 1024px) {
			width: 31.9%;	
		}
		
		&:nth-of-type(2) {
			margin: 0 1.45%;
		}

		&--submit {
			background: #ffffff;
			color: #f78c1f;
			border-color: #f78c1f;
			padding-left: 0;
		}


	}

	&__logo {
		//border:1px solid red;
		text-align: center;
		width: 264px;

		@media screen and (max-width: 1024px) {
			width: 200px;
			//margin-right: 20px;
			padding-right: 10px;
		}


	}


	&__copyright {
		//width: 260px;
		 float: left;
		color: #757575;
		font-size: .8rem;
		line-height: 23px;
		margin-bottom: 37px;

		@media screen and (max-width: 426px) {
			margin-bottom: 17px;	
	  	}
	}

}




.black {
	background-color: #000000;
}

//select class js

.select {
	color: #f78c1f;
}

//for checkbox

//scroll navbar 


.navbar-fixed-top {
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
}



.formContent__checkinput:checked + .formContent__checkbox:before {
	background: url(../images/correct-symbol.svg) no-repeat center;	
}

.formContent__checkinput:checked + .formContent__checkbox--box1:after,
.formContent__checkinput:checked + .formContent__checkbox--box2:after
 {
	border: 1px solid #f78c1f;
}


//slider

.slidecontainer {
  width: 100%;
}


//------rangeslider css-------//

.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: #ffd29f;
  position: relative;
}

.rangeslider--horizontal {
  height: 3.6px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #f78c1f;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: #f78c1f;
  //border: 1px solid #ccc;
   border: 0;
  cursor: pointer;
  display: inline-block;
  width: 9px;
  height: 9px;
  position: absolute;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: none;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
.rangeslider--horizontal .rangeslider__handle {
 top: -3px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
